# Set default behavior to automatically normalize line endings
* text=auto

# TypeScript files
*.ts text eol=lf
*.tsx text eol=lf

# JavaScript files
*.js text eol=lf
*.jsx text eol=lf

# JSON files
*.json text eol=lf

# Ignore binary files
*.png binary
*.jpg binary
*.gif binary